.fondo{
    background-image: url(../img/FondoZoom_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}
.header{
    text-align: center;
    margin-top: 3em;
}
.navBar{
    height: 5em;
    margin-top: 5em;
}
.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
}

.elementos{
    margin-right: 50px;
}

.containerImg{
    width: 20%;
}

.logo{
    width: 40%;
    margin: auto;
}

.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 100%;
    margin: auto;
    text-align: center;
}
.imgperfil{
    background-color: aquamarine;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 13em;
}
.formulario{
    background-color: rgba(0, 255, 191, 0.473);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
label{
    margin-left: 1em;
}

.form-control{
    width: 90%;
    margin-left: 1em;
}
select{
    margin-left: 1em;
}
.enviar{
   text-align: center;
}

.divVolver{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botonVolver{
    width: 70%;
}

.botones{
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.botones:active{
    box-shadow: none;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}