<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administrar Noticias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
    <body>

        <div class="container m-3">
            <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-center">
                    <a th:href="@{/}" class="btn btn-outline-success me-2" type="button">Home</a>
    
                    <!--<button class="btn btn-sm btn-outline-secondary" type="button">Administrar noticias</button>-->
                    <button class="btn btn-outline-success me-2" type="button">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button"
                                data-bs-toggle="dropdown" aria-expanded="true">
                                Administrar noticias
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                <li><a class="dropdown-item" th:href="@{/vistaAdmin/vistaCrearNoticia}">
                                        Crear Noticia</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
    
                                <li><a class="dropdown-item" th:href="@{/vistaAdmin/vistaEliminarYModificar}">
                                        Modificar o Eliminar Noticia</a></li>
    
                
                            </ul>
                        </li>
                    </button>
    
    
                </form>
            </nav>
        </div>

        <center>
            <h3>SELECCIONE LA NOTICIA A MODIFICAR O ELIMINAR</h3>
            <h4>LISTADO DE NOTICIAS</h4>
        </center>

        
        <div th:each="noticia : ${noticias}" th:if="${noticia.alta}" class="card" style= "margin:23px; width: 27rem;" >
            <div class="card-body">
                <center>
                    <h5 th:text="${noticia.titulo}" class="card-title"></h5>
                </center>
    
                <p th:text="${noticia.cuerpo}"  class="card-text"></p>
                <center>
                    <a th:href=@{/Noticia/VistaNoticia/__${noticia.id}__} content="center" class="card-link">
                        Ver noticia
                    </a>
                </center>
                <center>
                    <a th:href=@{/vistaAdmin/vistaModificarNoticia/__${noticia.id}__} content="center" class="card-link">
                        Modificar Noticia
                    </a>
                </center>
                <center>
                    <a th:href=@{/vistaAdmin/eliminar/__${noticia.id}__} content="center" class="card-link" >
                        Eliminar Noticia
                    </a>
                </center>
            </div>
        </div>


        <footer style="margin:30px; width: 80rem;">
            <center>
                Copyright 2023 ©.
            </center>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


</html>
