<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Biblioteca Egg</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>  <h1>Anduvo esto...</h1>
            Está funcionando con 
            <h2>Visual y Netbeans</h2>
            Y guarda los registros en la Base de datos
        </div>
    </body>
</html>
